.format-checkbox {
  display: flex;
  align-items: center;
}

.format-checkbox label {
  margin-right: 10px; 
  width: 100px;
}

.format-checkbox input[type='checkbox'] {
  width: 20px;
}

#format-checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
#add-charade-submit-button {
  margin-top: 25px;
}