.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 52vh;
  padding: 30px 25px;
}

.formats {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}